<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}FileEX{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/style.css?v=3">
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="container" style="display:flex; justify-content:space-between; align-items:center;">
            <h1>FileEX</h1>
            <span
                style="background:var(--border-color); color:var(--bg-color); padding:5px 10px; font-weight:bold; font-size:0.8rem; border-radius:4px;">READ
                ONLY MODE</span>
        </div>
    </header>

    <main class="container">
        {% block content %}{% endblock %}
    </main>

    <script src="/static/js/app.js"></script>
</body>

</html>